
<!-- 右侧内容区域 -->
    <div class="col-xs-8 col-sm-4 col-md-5" style="height:100%;border-right: 1px solid #a0a0a0;">
        <h3>网页监控:</h3>
        <form method="post" action="{:U('/webMonitor/addUser')}">
        <div class="input-group">
          <input type="url" class="form-control" name="userurl" placeholder="请输入目标网址，并确认可以打开" aria-describedby="basic-addon2" required>
          <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="open-url">Go!</button>
              </span>
</div>
<br>

        <div class="form-group">
            <textarea class="form-control" name="userpattern" rows="3" placeholder="输入关键字,支持正则" maxlength="30" required></textarea>
        </div>
        <div class="form-group">
            <input type="email" name="usermail" class="form-control" placeholder="请输入验证邮箱" required>
        </div>
          <input type="submit" class="btn btn-default" value="提交">
        </form>
    </div>
    <!-- 右侧内容结束 -->
    <!-- 最右侧说明 -->
    <div class="col-md-5">
        <h3>网页监控填写说明:</h3>
        <span>
            1.填写目标网址，点击旁边的<b>GO！</b>测试网页打开是否正确<br>
            2.输入正确、有效的网页关键字(支持正则匹配)。<br><b>&nbsp>PS:关键字具有唯一性，而且是确定的。</b><br>
            3.例如：某小说更新通知：<br><span style="padding-left: 20px;display: block;">
                1.打开<a href="http://www.bxwx9.org/b/62/62724/index.html">小说目录</a><br>
                2.填写关键字：<br>
                    例1：我想要更新2000章节的时候通知我，关键字设为:<b>第二千章</b><br>
                
            </span>
                
            4.填写正确的邮箱地址，提交。进入邮箱点击激活链接即可。<br>
        </span>
    </div>
    <!-- 说明结束 -->
</div>
<script>
    $('#open-url').click(function(){
        $('input[type="submit"]').click();
        var url = $('input[name="userurl"]').val().trim();
        var strRegex ='(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]+[-A-Za-z0-9+&@#/%=~_|]';  
        var re=new RegExp(strRegex);
        if(url!="")
        {  
         if (re.test(url)) {
            window.open(url);
          }
        }
        return false;
    });
</script>

