

        <div class="col-md-9" style="height: 100%;color: #000;">

        <table class="table table-striped table-bordered table-condensed">
      <caption>报表
      <span style="border: ">总积分:<?php echo $sum?: '0';?></span>
      <?php if($user['apply']  == '0') {?>
      <button id="apply-cash">申请提现</button>
  <?php } ?>
      </caption>
      <thead>
        <tr> <th>编号ID</th> <th>PID</th> <th>积分</th> <th>单号</th><th>时间</th> <th>信息</th><th>状态</th> </tr> 
        </thead>
      <tbody>
      <?php foreach($datas as $key => $val) {?>
        <tr>
          <th scope="row"><?php echo $val['id'];?></th>
          <td><?php echo $val['pid'];?></td>
          <td><?php echo $val['money'];?></td>
          <td><?php echo $val['outtradeno'];?></td>
          <td><?php echo $val['paytime'];?></td>
          <td><?php echo $val['message'];?></td>
          <td><?php echo ($val['applyed']== '0')?'未提现':'已提现';?></td>
        </tr>
        <?php }?>
      </tbody>
    </table>
</table>
<?php echo $page;?>
        </div>

</div>
